In [25]:
# comments

In [26]:
# Import necessary libraries
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import classification_report

from amb_sdk.sdk import DarwinSdk

In [27]:
# Login
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
status, msg = ds.auth_login_user('claire.mcafee@gmail.com', 'Fhze5hUMn3')

if not status:
    print(msg)

In [28]:
path = '../datasets/'

In [29]:
dataset1_name = 'MovieBudgetsAndBoxOfficeEarnings.csv'
df = pd.read_csv(os.path.join(path, dataset1_name))
df.head()

FileNotFoundError: File b'../datasets/MovieBudgetsAndBoxOfficeEarnings.csv' does not exist

In [19]:
dataset2_name = 'IMDBMovieDatabase.csv'
df = pd.read_csv(os.path.join(path, dataset2_name))
df.head()

,var1,title,year,length,budget,rating,votes,r1,r2,r3,...,r9,r10,mpaa,Action,Animation,Comedy,Drama,Documentary,Romance,Short
0,1,$,1971,121,NaN,6.4,348,4.5,4.5,4.5,...,4.5,4.5,NaN,0,0,1,1,0,0,0
1,2,$1000 a Touchdown,1939,71,NaN,6.0,20,0.0,14.5,4.5,...,4.5,14.5,NaN,0,0,1,0,0,0,0
2,3,$21 a Day Once a Month,1941,7,NaN,8.2,5,0.0,0.0,0.0,...,24.5,24.5,NaN,0,1,0,0,0,0,1
3,4,40000,1996,70,NaN,8.2,6,14.5,0.0,0.0,...,34.5,45.5,NaN,0,0,1,0,0,0,0
4,5,"$50,000 Climax Show, The",1975,71,NaN,3.4,17,24.5,4.5,0.0,...,0.0,24.5,NaN,0,0,0,0,0,0,0

In [ ]:
pd.merge(on='title')